body {
    font-family: 'Poppins', sans-serif;
    background: 
        linear-gradient(rgba(0, 34, 114, 0.756), rgba(6, 1, 64, 0.76)),
        url('gambar.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
}

h1 {
    color: #0077ff;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin-bottom: 25px;
}

.card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    line-height: 1.6;
    color: #444;
}

.btn {
    display: inline-block;
    background-color: #0077ff;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 500;
}

.btn:hover {
    background-color: #005fcc;
}
